@font-face {
    font-family: 'Eina01-Regular';
    src:  url(../fonts/Eina01-Regular.ttf);

    
  }

  @font-face {
    font-family: 'Eiana01-SemiBold';
    src:  url(../fonts/Eina01-SemiBold.ttf);
  }