
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&display=swap');
html{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
	padding: 0;
    background: #f2f2f2;
    box-sizing: border-box;
    font-family: 'Eina01-Regular';
}
li{
	list-style: none;
}
 


/*Loarder*/
.lds-ring {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
  }
.lds-ring div {	
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	margin: 12px;
	border: 12px solid #031637;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #031637 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  .loader{
	
	background-color: #f2f2f2;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	clip-path: circle(150% at 100% 0);
	transition: clip-path 0.8s ease-in-out;
}
.loader2{
	clip-path: circle(0% at 100% 100%);
}


/*navbar style*/
.navbar{
    background: #fff;
    font-family: 'Eiana01-SemiBold';
}

.img-fluid{
    width:250px ;
    height:100px;
}

.nav-item{
    padding: 0 15px;
}
.nav-item a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s ease;
    text-transform: uppercase;
}
.nav-item a:hover{
    color: #F64938 !important;
}

.navbar-toggler{
    background: #F64938;
    border: none;
    padding: 7px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 25px;
    height: 3px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    margin: 1rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid #F64938 ;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    border-top: 4px solid #F64938 ;
    color: #F64938;
}

/*SLIDE*/
.header-backup{
    width: 100%;
	height: 120px;
	background: transparent;
	margin:auto;
}

.carousel-item img{
    width: 100%;
    height: 32rem;
    position: relative;
    background-position: center;
    background-size: cover;
    opacity: 80%;
}
.carousel-item h1{
    font-size: 55px;
    color: #0c1d3c;
    font-weight: bold;
}

.carousel-item p{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.container-fluid{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

}


/*section service-home*/
.service-home{
    margin: 5px 0;
}

.title-services{
    margin: 3px 0;
}

.title-services h1{
    text-align: center;
    text-transform: uppercase;
    color: #F64938;
    font-weight: bold;
}
.title-services h5{
    color: #000;
    font-weight: 500;
}


.single-service-detail{
	position: relative;
}

.service-home-img img{
	width: 100%;
	height: auto;
	object-fit: cover;
	
}

.service-pentagon-text h1{
	font-size: 50px;
	color: #383838;
	margin-top: 0;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	position: absolute;
	left: 15%;
	width: 50px;
	top: -6%;
}
.service-pentagon-text {
    width: 70px;
    height: 52px;
    background: #fff;
    position: relative;
     top: -30px;
    left: 43%;
}
.service-pentagon-text:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 34px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 15px solid #fff;
  }
.service-pentagon-text:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0px;
    border-left: 36px solid transparent;
    border-right: 34px solid transparent;
    border-top: 15px solid #fff;
}

.service-home-details{
	background: #2a2a2a;
	border-top: 2px solid #fff;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.service-home-details h3{
	font-size: 25px;
	color: #fff;
	margin-top: 0;
}
.service-home-details p{
	font-size: 13px;
	text-align: justify;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 0 25px;
	padding-bottom: 30px;
}
.single-service-detail:hover .service-home-details{
	background: #041F4F;
}
.single-service-detail:hover .service-pentagon-text h1{
	color: #041F4F;
}


/*Section About nosotros*/
.img-responsive{
    display: block;
    max-width: 100%;
    
}
.image-about img{
    width: 100%;
    height: 100%;
}
.nosotros p{
    text-align: justify;
    font-size: 18px;
}

.cover-page h2{
    font-weight: bold;
    text-align: center;
	font-size: 70px;
	color: #031637;
	margin-top: 35px;
	margin-bottom: 15px;
}
.video-about{
    margin: 5px 0;
}


/*Section services 3 servicios*/
.company img{
	width: 100%;
}

#row{
    padding: 0 !important;
    margin: 0 !important;
}

.breadcrumb-item:hover a{
    text-decoration: none !important;
    color: #666 !important;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb-item{
    color: #666;
}

.breadcrumb .active{
    color: #F64938;
}


.info-volqueta h1{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.info-volqueta p{
    color: #666;
    margin-top: 8px;
}


#carouselTierra img{
    width: 100%;
    height: 350px;
    opacity: 100;
    object-fit: cover;
    object-position: center;
    
}
#carouselTierraDos img{
    width: 100%;
    height: 350px;
    opacity: 100;
    object-fit: cover;
    object-position: center;
    
}

/**/



/*section footer*/
footer{
	float:left;
	width:100%;
	background:#2a2a2a;
	color:#fff;
	margin:0;
	padding:20px 0 0 0;
}
footer .verybottom {
    width: 100%;
    height: auto;
	padding:30px 0 10px 0;
}
.aligncenter{
	margin:0 auto;
	text-align:center;
	font-size: 15px;
}
.logo-footer img{
	width: 150px;
	height: 150px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #999;
	text-transform: uppercase;
	padding: 0 5px  !important;
}
.footer-links a:hover,
.footer a:hover {
    color: #333333 !important;
}
.footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 0;
}
/*end section footer*/



@media (max-width:769px){
    .carousel-item img{
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        
    }
    .carousel-item h1{
        font-size: 30px;  
    }
    .carousel-item p{
        font-size: 12px;
    }
    .carousel-item a{
        font-size: 15px;
    }

    .title-services h1{
        font-size: 25px;
    }
    .title-services h5{
        font-size: 18px;
        text-align: justify;
        margin: 0 15px;
    }

    /*Service one - movimiento de tierra*/
    .breadcrumb a{
        font-size: 14px;
    }
    .info-volqueta h1{
        font-size: 25px;
    }



    .space-col{
        margin-bottom: 15px;
    }
    .cover-page h2{
        font-size: 35px;
    }








    .image-about img{
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }
    .video-about{
        margin: 5px 0;
    }
    .video-about iframe{
        width: 100%;
        height: 100%;
    }
    .company img{
        width: 100%;
        height: 450px;
        background-size: cover;
    }


    /*Section Contacto*/
    .info h3, .formulario h3{
        font-size: 18px;
        padding-top: 15px;
    }
    
    footer .verybottom {
        width: 100%;
        height: 300px;
        padding:30px 0 10px 0;
    }
}